#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.beneficio {
  display: flex;
  flex-direction: column;
  background-color: #d8d8d8;
  margin: 0;
}

/* Reseteo . Poner valores de reinicio */
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin:0;
}


.flexibilizado {
  display: flex;
  gap: 10px;
}